spring:
  datasource:
    url: jdbc:mysql://localhost:3306/hotel_rest?serverTimezone=UTC&useSSL=false&characterEncoding=utf8
    username: root
    password: test1234
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: FALSE
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect
    generate-ddl: true

logging:
  level:
    hu.progmasters: INFO
    org.springframework: ERROR
    org.hibernate: ERROR
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"

# Charset of HTTP requests and responses. Added to the "Content-Type" header if not set explicitly.
# Enable http encoding support.
# Force the encoding to the configured charset on HTTP requests and responses.
server:
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true
